.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  padding: 12px;
  border: 2px solid teal;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;
  padding: 12px 24px;
  border: 2px solid tomato;
}
